.product {
    width: 300px;
    height: 510px;
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 95%;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    margin: 0 14px;
}

.product-info p {
    margin: 5px 0 0 0;
}

.product-name {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 7px;
}

.btn-cart {
    position: absolute;
    bottom: 0;
    border: none;
    width: 100%;
    background-color: #ff4b1ed5;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    transform: background-color;
    color: white;
}

.btn-cart:hover {
    transition: all 0.5s ease-in-out;
    background-color: #eb101f;
}